<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124798003309-e3l3pqjve6c50891um9m2idammqsne75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124798003309-e3l3pqjve6c50891um9m2idammqsne75</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>124798003309-enr7t1kfjsnbjvqomg7a3cgd0d3fticq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaw2VJDPuCk_QZC5b4WNSE9mKQOFIE7H8</string>
	<key>GCM_SENDER_ID</key>
	<string>124798003309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.blissMe</string>
	<key>PROJECT_ID</key>
	<string>blissmedemo</string>
	<key>STORAGE_BUCKET</key>
	<string>blissmedemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124798003309:ios:c715308770cf8852077764</string>
</dict>
</plist>